author_affiliations/data_copy
author_affiliations/data/*/*
author_affiliations/data/*.csv
author_affiliations/processed_data/*
author_affiliations/results/*
.vscode
.pytest_cache
.ipynb_checkpoints
__pycache__
.DS_Store
!.gitkeep

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

.snakemake
